<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher Registration</title>
</head>
<body>
<form th:action="@{/teacherRegistration}" th:object="${regForm}" method="post">
    <div>
        Login
        <input type="text" th:field="*{login}">
    </div>
    <div>
        Password
        <input type="password" th:field="*{password}">
    </div>
    <div>
        Confirm Password
        <input type="password" th:field="*{confirmPassword}">
    </div>
    <input type="submit" value="Registration">
</form>
<h1 th:utext="${message}">..!..</h1>
</body>
</html>