<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  <title>Title</title>

    <script th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>
<header>
    <nav class="navbar navbar-inverse" >
        <div class="container-fluid">
          <div class="navbar-header">
            <span class="navbar-brand" id="username"  ></span>
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a onclick="logout()" ><img height="20px" width="20px" th:src="@{/exit.svg}" alt="За стеклом"> Logout</a></li>
          </ul>
        </div>
      </nav>
</header>
<main>
    <div class="container" style="padding-top: 50px">
        <div class="row">
            <div class="col-8" >
                <div class="step__content" >

                    <h4 class="step__title">
                        Student_base
                    </h4>
                    <div class="step__desc-wrapper">
                        <p class="step__description">
                            Contacts:
                        <ul>
                            <li>GitHub: https://github.com/ilyaistomin789</li>
                            <li>Telegram: https://t.me/stmnl789</li>
                        </ul>
                        </p>
                        <p class="step__description">
                            Registration of teachers and students is carried out by the system administrator.
                            The teacher can assign grades to students remotely, which simplifies the learning process.
                            The student can view their grades in the subjects.
                        </p>
                    </div>
                </div>
            </div>
            <div id="user_info" class="col-4" >
                <div class="container">
                    <div id="spisok" class="row">
                        <div class="col-6">
                            <ul id="keys" class="list3b">

                            </ul>
                        </div>
                        <div class="col-6">
                            <ul id="values" class="list3b">

                            </ul>

                        </div>
                        <div id="buttt">

                        </div>
                    </div>
                    </div>
                </div>

        </div>
</div>
</main>
<footer>
    Ilya Istomin 2020
</footer>
</body>
</html>
